@import url("./something.css");

.row {
  display: flex;
  width: 88vw;
  justify-content: space-between;
}

.column {
  box-sizing: border-box;
  width: 25vw;
  height: 40rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  box-shadow: var(--shadow-1);
}

.image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 12rem;
  row-gap: 3rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title2 {
  height: 3rem;
}
