@import url("./something.css");

@media (width <= 768px) {
  .row {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    width: 88vw;
  }

  .column {
    width: 88vw;
  }

  .title2 {
    width: 88vw;
  }

  .text-about {
    width: 60vw;
  }

  .alumni-columns {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    width: 88vw;
  }

  .review {
    width: 88vw;
    height: 30rem;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    width: 88vw;
  }

  .contact-form {
    width: 88vw;
  }

  .map {
    width: 88vw;
  }

  iframe {
    width: 80vw;
  }

  .row1 {
    flex-direction: column;
    height: auto;
    row-gap: 2rem;
  }

  footer {
    height: auto;
  }

  .card {
    width: 88vw;
  }

  .text1,
  .text2,
  .text3 {
    width: 70vw;
  }

  .statistics {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    width: 88vw;
  }

  .amount,
  .percentage-job,
  .percentage-women {
    width: 70vw;
  }
}

@media (width <= 400px) {
  header {
    column-gap: 1rem;
  }

  nav ul li {
    margin-right: 0.5rem;
  }

  nav ul li a {
    font-size: 0.6rem;
  }

  .logo img {
    width: 3rem;
  }

  .contact-form {
    width: 85vw;
  }

  .map {
    width: 85vw;
  }

  iframe {
    width: 80vw;
  }

  .alumni-columns {
    row-gap: 1rem;
  }

  .review {
    height: 40rem;
  }
}
