@import url("./something.css");

.card {
  background-color: var(--primary-300);
  width: 28vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.3rem;
  border-radius: var(--border-radius);
}

.container1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 2rem;
}

.row1 {
  display: flex;
  justify-content: space-around;
  height: 12vw;
  align-items: center;
  width: 90vw;
}

.address {
  height: 4rem;
  display: flex;
  justify-content: center;
}

.social-icons {
  display: flex;
  align-items: center;
  height: 5rem;
  justify-content: center;
  font-size: 3rem;
  column-gap: 2rem;
}

.social-icons a {
  color: black;
}

#s1,
#v1,
#p1 {
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  line-height: 1.35;
}

.card-title {
  color: var(--white);
}

.fa-arrow-right {
  color: var(--white);
}

.address-p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.card-title-box {
  height: 3rem;
}
