@import url("./something.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.news-form {
  padding: 30px;
}

.news-form .group-form {
  padding-bottom: 15px;
}

.news-form label {
  display: block;
  font-size: 20px;
  color: darkblue;
}

input {
  border-bottom: 4px solid blue;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.news-form input {
  padding: 8px;
  width: 100%;
}

body {
  background-color: #232331;
  font-family: Roboto, sans-serif;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: 0;
  font-size: 30px;
  color: blue;
  background-color: white;
}

button:hover {
  background-color: blue;
  color: white;
}
