@import url("./something.css");

.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-row {
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin: 0 auto;
}

.img-row img {
  width: 7rem;
}

.img-row-box {
  height: 7rem;
}

.new-title {
  margin-bottom: 8rem;
}
